@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
  font-family: 'Work Sans', sans-serif;
  background-color: hsl(275, 100%, 97%);
}

.header {
  width: 100%;
}

.header img {
  width: 100%;
  height: auto;
  display: block;
}

.container {
  width: 90%;
  max-width: 620px;
  /* height: 500px; */
  margin: -140px auto 2rem;
  padding: 2rem;
  background-color: hsl(0, 0%, 100%);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  position: relative;
  z-index: 100;
  flex-direction: column;
  display: flex;
  flex-grow: 1;
  gap: 1rem;
}
.container .heading{
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
}
.heading h1{
    font-size: 3rem;
    margin-right: 1rem;
    color: hsl(292, 42%, 14%);
}
.heading img{
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: transform 0.3s ease;
    margin-top: 8px;
}
.faqs{
    display: flex;
    flex-direction: column;
}
.faq .toggle{
    cursor: pointer;
    transition: transform 0.3s ease;
    justify-self: flex-end;
    align-items: end;
}

.faq-question{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.faq-question h2{
    font-size: 16px;
    margin-right: 1rem;
    color: hsl(292, 42%, 14%);
    width: 600px;
}
.faq .faq-content{
    display: none;
}
@media screen and (max-width: 768px) {
  .header img {
    content: url('./assets/images/background-pattern-mobile.svg');
  }
  
  .container {
    width: 85%;
    margin-top: -50px;
    padding: 1.5rem;
  }
}

@media screen and (max-width: 480px) {
  .container {
    width: 92%;
    margin: -30px auto 1rem;
    padding: 1.25rem;
  }
}